.breadcrumbs {
  width: 1280px;
  margin: 50px auto;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 300;

  a {
    color: #767676;
    text-decoration: none;
    margin-right: 3px;
  }

  span {
    color: #000000;
    margin-left: 0;
    pointer-events: all;
  }
}
