.cart-title {
  max-width: 1280px;
  font-size: 28px;
  margin: 0 auto 40px auto;
  font-family: "Inter";
  font-weight: bold;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
}

.cart-table .cart-item-title {
  max-width: 370px; /* Лучше max-width для гибкости */
  word-wrap: break-word;
  white-space: normal;
  font-weight: 300;
  font-size: 16px;
}

.cart-title-text {
  width: 370px;
}

.cart-total-row td {
  height: 40px;
  font-size: 18px !important;
  font-weight: bold !important;
  vertical-align: top;
}

.cart-total-row {
  border-bottom: none !important;
}

.total-quantity {
  text-align: center;
}

.total-price {
  text-align: right;
}

.cart-table {
  font-family: "Inter";
  border-collapse: collapse;

  width: 1280px;
  margin: 0 auto;
}

.cart-table th,
.cart-table td {
  text-align: left;
}

.cart-table th {
  font-weight: bold;
  font-size: 15px;
}

.cart-table td {
  font-weight: 300;
  font-size: 16px;
}

.cart-table tbody tr:not(:last-child) {
  height: 80px;
  border-bottom: 1px solid #dadada;
}

.cart-table td {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top; /* текст прижат к верху */
}

/* 1. Фото */
.cart-table .cart-col-photo {
  width: 131px;
  padding-right: 0;
}

/* 2. Название */
.cart-table .cart-col-title {
  width: 370px;
  padding-right: 150px;
}

/* 3. Количество */
.cart-table .cart-col-quantity {
  width: 130px;
  padding-right: 132px;
}

/* 4. Цена */
.cart-table .cart-col-price {
  width: 130px;
  padding-right: 128px;
}

/* 5. Стоимость */
.cart-table .cart-col-total {
  width: auto; /* займет остаток */
  padding-right: 0;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  height: 50px;
  border: 1px solid #767676;
  border-radius: 10px;
  background: white;
  font-size: 15px;
  font-weight: 300;
  cursor: default; /* Само по себе не кликабельно, кликабельны вложенные элементы */
  padding: 0 10px;
  gap: 10px;
}

.quantity-button span {
  cursor: pointer;
  user-select: none;
}

.quantity-button .minus,
.quantity-button .plus {
  color: #000000 !important;
  font-size: 15px;
  width: 20px;
  text-align: center;
}

.quantity-button .quantity-now {
  color: #000000 !important;
  min-width: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .cart-title {
    max-width: calc(100% - 40px);
    font-size: 24px;
    margin: 0 auto 30px auto;
  }

  .cart-title-text {
    width: 114px;
  }

  .cart-table {
    width: calc(100% - 40px);
    box-sizing: border-box;
    font-size: 12px;
    margin-left: 20px;
  }

  .cart-table thead tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cart-table tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 0;
    padding: 10px 0;
  }

  .cart-table th,
  .cart-table td {
    text-align: left;
  }

  .cart-col-photo,
  .cart-col-price {
    display: none;
  }

  .cart-table .cart-col-title {
    width: 114px;
    padding-right: 10px;
    font-size: 14px;
  }

  .cart-table .cart-col-quantity {
    width: 114px;
    padding-right: 10px;
    font-size: 14px;
  }

  .cart-table .cart-col-total {
    width: 114px;
    font-size: 14px;
  }

  .cart-table
    tbody
    tr:not(.cart-total-row):not(.cart-total-row-mobile)
    td:nth-child(1),
  .cart-table
    tbody
    tr:not(.cart-total-row):not(.cart-total-row-mobile)
    td:nth-child(4) {
    display: none;
  }

  .cart-total-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
    padding: 15px 20px;
  }

  .quantity-button {
    width: 90px;
    height: 40px;
    font-size: 14px;
  }

  .cart-table .cart-item-title {
    font-size: 12px;
    margin-right: 10px;
  }

  .quantity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: transparent;
    border: none;
    padding: 0;
  }

  .quantity-button .minus,
  .quantity-button .plus {
    width: 23px;
    height: 27px;
    background-color: #f3f3f3;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border: none;
  }

  .quantity-button .quantity-now {
    font-size: 15px;
    font-weight: 400;
    min-width: 45px;
    text-align: center;
  }

  .cart-total-row-mobile {
    display: table-row;
  }

  .cart-total-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .cart-total-label {
    text-align: left;
  }

  .cart-total-qty {
    text-align: left;
  }

  .cart-total-sum {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: table-row !important;
  }
}

@media (min-width: 769px) {
  .desktop-only {
    display: table-row !important;
  }
  .mobile-only {
    display: none !important;
  }
}
