.catalog-wrapper {
  margin-right: 15px;
  position: relative;
  display: inline-block;

  z-index: 20;
}

.catalog-button {
  font-family: "Inter";
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #e67549;
  color: #ffffff;
  border: none;
  padding: 0 13px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  gap: 15px;
  transition: border-radius 0.3s ease;

  .icon {
    fill: white;
  }

  &.open {
    border-radius: 10px 10px 0 0;
    width: 113px;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 113px;
      height: 76px;
      background-color: #e67549;
      border-radius: 0 0 50% 0;
      z-index: -1;
    }
  }
}

.catalog-menu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 350px;
  background-color: #e67549;
  border-radius: 0 10px 10px 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;

  // Начальное состояние
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease,
    transform 0.3s ease;

  &.open {
    max-height: 500px; // достаточно, чтобы вместить весь список
    opacity: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    transform: translateY(0);
    overflow: visible;
  }

  &::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 112px;
    width: 10px;
    height: 10px;
    background: radial-gradient(
      circle at top right,
      transparent 60%,
      #e67549 61%
    );
    z-index: -1;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px 20px;
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      font-family: "Inter";
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.catalog-menu ul li a {
  color: #fff;
  text-decoration: none;
}
