.category-title {
  max-width: 1280px;
  font-family: "Inter";
  font-size: 32px;
  font-weight: bold;
  margin: 50px auto;
}

.products-section {
  max-width: 1280px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 20px; // 30px по вертикали, 20px по горизонтали

  a {
    text-decoration: none;
  }
}

/* --- Skeleton Loader --- */
.product-skeleton-card {
  width: 220px;
  height: 370px;
  border-radius: 12px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
  margin: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

/* --- Анимация появления карточек --- */
.products-section > * {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .category-title {
    font-size: 24px;
    width: calc(100% - 40px);
    margin: 20px auto 30px auto;
  }
}
