.contacts-page {
  max-width: 1280px;
  margin: 50px auto 100px auto;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  text-align: left;
}

.contacts-title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.contacts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  background-color: #f3f3f3;
  padding: 40px;
  font-family: "Inter", sans-serif;
  align-items: start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 40px;
    text-align: left;
    padding: 30px 20px;
  }
}

.contacts-subtitle {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contacts-info,
.contacts-office p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 5%;
  text-decoration: none;
  color: inherit;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contacts-office {
  font-weight: 600;
}

.contacts-socials {
  display: flex;
  gap: 15px;
  margin-top: 30px;

  img {
    width: 30px;
    height: 30px;
  }
}

.contacts-copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 5px;
}

.company-info {
  max-width: 1280px;
  margin: 60px auto;
  padding: 0 20px;
}

.company-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: 5%;
  font-weight: 300;
  margin-bottom: 100px;

  tr:last-child td {
    border-bottom: none;
  }

  td {
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
    vertical-align: top;

    &:first-child {
      width: 630px;
      color: #333;
    }
  }
}

.company-info-mobile {
  font-family: "Inter", sans-serif;
  width: calc(100% - 40px);
  margin: 0 auto 100px auto;
}

.company-row {
  padding: 16px 0;
  border-bottom: 1px solid #dadada;
}

.company-row.no-border {
  border-bottom: none;
}

.company-label {
  font-size: 16px;
  font-weight: 300;
  color: #333;
  margin-bottom: 20px;
}

.company-value {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .company-title {
    margin-bottom: 40px;
  }
}
