.delivery-content {
  max-width: 1280px;
  margin: 0 auto 80px auto;
  font-family: "Inter";
  line-height: 150%;

  h2 {
    font-weight: 600;
    font-size: 18px;
  }

  p {
    font-weight: 300;
  }

  ul {
    padding-left: 0;
  }

  li {
    font-weight: 300;
    list-style: none;
  }
}

@media (max-width: 768px) {
  .delivery-content {
    max-width: calc(100% - 40px);
    margin: 0 auto 50px auto;

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 15px;
    }
  }
}
